a.header_new {
    padding: 20px;
    background-image: url(/../system/modules/csv_import/assets/images/database_table.png);
}

#tl_buttons {
    height: 60px;
    margin-top: 20px;
}

#ctrl_manual {
    text-align: right;
}
#ctrl_manual a{
    background: url(/../system/modules/csv_import/assets/images/help.png) no-repeat;
    padding:2px 0 2px 20px;
}

#ctrl_response_box {
    padding: 10px;
    width: 680px !important;
    border: 1px solid #666;
    background-color: #dcdcdc;
    overflow: hidden !important;
    font-size: 14px;
}

#ctrl_response_box .green {
    color: green;
    font-size: 12px;
}

#ctrl_response_box .red {
    color: red;
    font-size: 12px;
}

.tl_tbox {
    min-height: 300px;
}